.sect2{
  background-color: #c7a776;
  padding: 50px 0;
}
.sect2 .title{
  height: 200px;
}
.sect2 .btn{
  display: flex;
  justify-content: center;
  text-align: center;
}
.sect2 .btn span{
  display: block;
  width: 25%;
  border-bottom: 2px solid #795620;
}
.sect2 .btn span:nth-child(1){
  width: 75%;
}
.boerder_bottom{
  border-bottom: 2px solid transparent;
}
.sect2_menu{
  width: 200px;
  display: block;
  padding: 20px 40px;
  color: #795620;
  border-bottom: 2px solid #795620;
}
.sect2 h2{
  font-size: 20px;
}
.sect2_menu.on{
  border: 2px solid #795620;
  border-radius: 30px 30px 0 0;
  border-bottom: 2px solid transparent;
  background-color: #fff;
}
.sect2_box{
  width: 100%;
  height: 65vh;
  margin: auto;
  position: relative;
  background-image: url(../img/bg.gif);
  border-bottom: 2px solid #795620;
}
.sect2 .box{
  top: 100px;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.sect2 .box.on{
  opacity: 1;
  z-index: 8;
}
.sect2 .swiper-slide{
  cursor: pointer;
  transform: scale(.6);
  opacity: .3;
}
.sect2 .swiper-slide p{
  opacity: 0;
}
.sect2_box img{
  width: 100%;
}
.sect2_box p{
  text-align: center;
}
.sect2 .swiper-slide-active{
  transform: scale(1);
  opacity: 1;
}
.sect2 .swiper-slide-active p{
  opacity: 1;
}