.sect3_wrap {
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
  padding: 2% 0;
  font-family: "Song Myung", serif;
}
.arti3_max1200 {
  max-width: 1200px;
  height: 70vh;
  background-color: white;
  margin: 0 auto;
}
.sect3_top {
  width: 100%;
  height: 30vh;
  min-height: 150px;
  display: flex;
}
.sect3_top > div {
  width: 33.4%;
  text-align: center;
  padding-top: 8%;
}
.sect3_top h2 {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 3px 3px 3px black;
  color: white;
}
.sect3_top p {
  color: rgb(211, 209, 209);
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 10%;
  background-color: rgba(1, 2, 3, 0.4);
  width: 40%;
  height: 30%;
  margin: auto;
  padding-top: 4.5%;
  
}
.sect3_menu{
  background-color: #e4e4e4;
  cursor: pointer;
  
  background-image: url(../img/20180725488389.jpg); background-repeat: no-repeat;
  background-size:100%;

}
.sect3_menu2 {
  background-image: url(../img/20180725435813.jpg); background-repeat: no-repeat;
  background-size:100%;

}
.sect3_menu3 {
  background-image: url(../img/20180725259422.jpg); background-repeat: no-repeat;
  background-size:100%;

}
.sect3_menu > span {
  background-color: lightgrey;
  display: inline-block;
}
.sect3_box {
  position: relative;
}
.sect3_kimbab,
.sect3_dupbab,
.sect3_noodle {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  display: none;
}
.sect3_on {
  display: block;
  background-color: white;
}

/* .sect3_next, .sect3_prev{
  width: 5%;
  height: 10%;
  position: absolute;
  top: 50%;
  z-index: 9999;
  opacity: 0.6;
} */
/* .sect3_next {
  right: -2.5%;
}
.sect3_prev {
  left: -2.5%;
} */

/* .sect3_prev img,
.sect3_next img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;
  box-shadow: 2px 2px 4px 1px;
} */
