.sect4 {
  position: relative;
  background-color: #f7f3e9;
  padding-bottom: 130px;
}
.sect4 article {
  max-width: 1200px;
  margin: 0 auto;
}
.sect4_con {
  position: relative;
  /* overflow: hidden; */
  max-height: 480px;
}
/* 별모양 깃대 */

.star {
  background-image: url(../img/star3.png);
  width: 1920px;
  height: 286px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
}
/* 하트모양 풍선  */

.sect4_balloon_imgwrap img {
  width: 25px;
  animation: balloon1 10s infinite;
  position: absolute;
  opacity: 0.1;
}
.sect4_balloon1 {
  left: 5%;
  top: 63%;
}
.sect4_balloon2 {
  left: 25%;
  top: 65%;
}
.sect4_balloon3 {
  left: 35%;
  top: 45%;
}
.sect4_balloon4 {
  left: 50%;
  top: 45%;
}
.sect4_balloon5 {
  left: 68%;
  top: 47%;
}
.sect4_balloon6 {
  left: 90%;
  top: 70%;
}
@keyframes balloon1 {
  0% {
    transform: translateY(5px);
  }
  25% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

.sect4 .box {
  width: 100%;
  cursor: pointer;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #c7a776;
}
.sect4 .box img {
  width: 100%;
}
.sect4 .box h3 {
  margin: 20px 0;
  height: 30px;
}
.sect4 .box p {
  text-align: right;
}
