.sect2 {
  background-color: #b66c6c;
  padding: 0 0 50px 0;
  /* background-image: url(../img/bg2.jpg); */
}

.sect2 .btn {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 3;
}
.sect2 .btn span {
  display: block;
  width: 25%;
}
.sect2 .btn span:nth-child(1) {
  width: 75%;
  border-bottom: 2px solid transparent;
}
.boerder_bottom {
  border-bottom: 2px solid transparent;
}
.sect2_menu {
  width: 100px;
  display: block;
  padding: 10px 20px;
  color: #f7f3e9;
}
.sect2_menu:hover {
  border-radius: 20px 20px 0 0;
  background-color: #e3d2b9;
  color: #795620;
}
.sect2 h2 {
  font-size: 20px;
}
.sect2_menu.on {
  border-radius: 20px 20px 0 0;
  background-color: #f7f3e9;
  color: #b66c6c;
}
.sect2_box {
  width: 100%;
  height: 30vw;
  margin: auto;
  position: relative;
  background-color: #f7f3e9;
  border-bottom: 2px solid #795620;
}
.sect2 .box {
  top: 100px;
  width: 100%;
  height: 75vw;
  position: absolute;
  opacity: 0;
}
.sect2 .box.on {
  opacity: 1;
  z-index: 8;
}
.sect2 .swiper-container {
  height: 100%;
}
.sect2 .swiper-wrapper {
  height: 100%;
}
.sect2 .swiper-slide {
  cursor: grab;
  height: 100%;
  transform: scale(0.6);
  opacity: 0.3;
}
.sect2 .swiper-slide p {
  opacity: 0;
  font-size: 22px;
  color: #795620;
  /* color: #b66c6c; */
  font-weight: 500;
}
.sect2_box img {
  width: 100%;
}
.sect2_box p {
  text-align: center;
}
.sect2 .swiper-slide-active {
  transform: scale(1);
  opacity: 1;
}
.sect2 .swiper-slide-active p {
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .sect2 .box {
    top: 60px;
  }
  .sect2_box {
    height: 50vw;
  }
  .sect2_menu {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 560px) {
  .sect2 {
    margin-top: -40px;
  }
  .sect2 .box {
    top: 40px;
  }

  .sect2_menu {
    padding: 10px;
  }
  .sect2 .title2 {
    margin-left: 15px;
    padding: 0 !important;
    display: inline-block;
  }
}
