/* header */

header {
  width: 100%;
  height: 80px;
  background-color: #f7f3e9;
  /* display: none; */
  position: fixed;
  z-index: 10;
}

header .inner {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  overflow: hidden;
  border: 1px solid #000;
}
header h1 {
  background-image: url(../img/logo3.png);
  background-size: 150px;
  background-repeat: no-repeat;
  position: absolute;
  width: 150px;
  height: 500px;
  top: -100px;
  left: 100px;
}
header ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
header ul li a {
  display: block;
  width: 135px;
  height: 100px;
  font-size: 20px;
  text-align: center;
  background-color: rosybrown;
  /* width: 100%;
  height: 100%; */
}
header .hd_nav1 {
  float: left;
}
header .hd_nav2 {
  float: right;
}

.sect0_dart_fix {
  position: absolute;
  right: 120px;
  top: 110px;
  position: fixed;
  animation: dartA 3s;
  z-index: 9100;
}
.sect0_dart_fix img {
  width: 100px;
  height: 50px;
}

@keyframes dartA {
  0% {
    transform: translate(-1000px, -1000px);
  }
  18% {
    transform: translate(0);
  }
  92% {
    transform: rotate(0.5deg);
  }
  93% {
    transform: rotate(-0.5deg);
  }
  94% {
    transform: rotate(0.5deg);
  }
  95% {
    transform: rotate(-0.4deg);
  }
  96% {
    transform: rotate(0.3deg);
  }
  97% {
    transform: rotate(-0.3deg);
  }
  98% {
    transform: rotate(0.2deg);
  }
  99% {
    transform: rotate(-0.2deg);
  }
  100% {
    transform: rotate(0.1deg);
  }
}

.sect0_box_fix {
  background-color: burlywood;
  position: absolute;
  top: 110px;
  right: 2%;
  position: fixed;
  /* margin-top: -1000px; */
  animation: box_fix 3s;
  transform-origin: center top;
  z-index: 9000;
}

.sect0_box_fix img {
  height: 180px;
  box-shadow: 3px 3px 7px dimgray;
  border: 3px outset lightgray;
}

@keyframes box_fix {
  0% {
    transform: translatey(-1000px);
  }
  17% {
    transform: rotate(-5deg);
  }
  22% {
    transform: rotate(4deg);
  }
  24% {
    transform: rotate(-4deg);
  }
  26% {
    transform: rotate(3deg);
  }
  28% {
    transform: rotate(-3deg);
  }
  30% {
    transform: rotate(2deg);
  }
  32% {
    transform: rotate(-2deg);
  }
  34% {
    transform: rotate(1deg);
  }
  36% {
    transform: rotate(-0.5deg);
  }
  38% {
    transform: rotate(0.5deg);
  }
  40% {
    transform: rotate(-0.2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* section1 */

.sect1 {
  /* background-image: url(../img/bg.gif); */
  width: 100%;
  height: 800px;
}
.sect1 .inner {
  /* max-width: 1200px; */
  height: 100%;
  /* margin: 0 auto; */
}
.sect1 h1 {
  background: url(../img/sect1_logo.png);
  background-size: cover;
  width: 200px;
  height: 335px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}
.sect1 .swiper-container {
  width: 100%;
  height: 100%;
}

.sect1 .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  max-width: 100%;
  height: 100%;
}
.sect1 .swiper-slide {
  background-repeat: no-repeat;
}
.sect1 .bg1 {
  background-image: url(../img/sect1_img_1.jpg);
  background-size: 100%;
}
.sect1 .bg2 {
  background-image: url(../img/20190527434342.png);
  background-size: cover;
  background-position: -520px;
}
.sect1 .bg3 {
  background-image: url(../img/20200323262025.png);
  background-size: cover;
}
.sect1 .bg4 {
  background-image: url(../img/20190527712495.png);
  background-size: cover;
  background-position: -600px;
}
.sect1 .bg5 {
  background-image: url(../img/brand_info_bg2.jpg);
  background-size: cover;
  background-position: -50px;
}
