.sect3{
  height: 100vh;
}
.sect3 .btn{
display: flex;
justify-content: center;
text-align: center;
}
.sect3 .btn span{
  display: block;
  width: 100px;
  border-bottom: 1px solid #000;
}
.sect3_menu{
  cursor: pointer;
  padding: 10px 20px;
  border-bottom: 1px solid #000;
}

.sect3_menu.on{
  border: 1px solid #000;
  border-bottom: 1px solid rgba(0,0,0,0);
}
.sect3_box{
  max-width: 1200px;
  height: 70vh;
  margin: auto;
  position: relative;
}
.sect3 .box{
  top: 100px;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.sect3 .box.on{
  opacity: 1;
  z-index: 10;
}
