.sect3 article {
  max-width: 1200px;
  margin: 0 auto 80px;
  position: relative;
}
.sect3_txt {
  position: relative;
  text-align: center;
  color: #fff;
  padding: 50px 0;
  background: url(../img/food2.jpg) no-repeat;
  margin-bottom: 80px;
  background-size: cover;
  background-attachment: fixed;
}

.sect3_txt p:nth-child(1) {
  margin-bottom: 30px;
  font-size: 50px;
  line-height: 60px;
  font-family: "Nanum Pen Script", cursive;
}

.sect3_txt p:nth-child(2) {
  padding: 5px;
}
.sect3_txt p:nth-child(3) {
  font-size: 18px;
  font-weight: 300;
}
.sect3_btn {
  display: flex;
  justify-content: center;
  background-color: #c7a776;
}
.sect3_btn li {
  cursor: pointer;
  width: 130px;
  height: 153px;
  background: url(../img/secret_food_list.png) no-repeat 10px;
  background-color: #c7a776;
}

.sect3_btn li.on {
  background-color: #795620;
}
.sect3_btn li:hover {
  background-color: #795620;
}
.sect3_btn li:nth-child(1) {
  background-position: 10px;
}
.sect3_btn li:nth-child(2) {
  background-position: -130px 10px;
}
.sect3_btn li:nth-child(3) {
  background-position: -255px 10px;
}
.sect3_btn li:nth-child(4) {
  background-position: -385px 10px;
}
.sect3_btn li:nth-child(5) {
  background-position: -520px 10px;
}
.sect3_btn li:nth-child(6) {
  background-position: -660px 10px;
}
.sect3_box {
  height: 320px;
  position: relative;
}
.sect3_box li {
  width: 100%;
  height: 100%;
  padding: 50px 100px;
  position: absolute;
  display: none;
}
.sect3_box li.on {
  display: block;
}
.sect3_box li:nth-child(1) {
  background: url(../img/food_info1_bg.jpg) -700px 0;
}
.sect3_box li:nth-child(2) {
  background: url(../img/food_info2_bg.jpg) -700px 0;
}
.sect3_box li:nth-child(3) {
  background: url(../img/food_info3_bg.jpg) -700px 0;
}
.sect3_box li:nth-child(4) {
  background: url(../img/food_info4_bg.jpg) -700px 0;
}
.sect3_box li:nth-child(5) {
  background: url(../img/food_info5_bg.jpg) -700px 0;
}
.sect3_box li:nth-child(6) {
  background: url(../img/food_info6_bg.jpg) -700px 0;
}
.sect3 h3 {
  display: inline-block;
  color: #3e3a39;
  font-size: 45px;
  border-bottom: 1px solid #777;
  padding-bottom: 8px;
}
.sect3_box p {
  color: #777;
  font-size: 20px;
  margin-top: 20px;
}

.sect3_chef_move h5 {
  background-image: url(../img/chef-1417239_6400.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 110px;
  height: 200px;
  background-position-y: -100px;
  top: 10%;
  left: 7%;
  z-index: 11;
}
.sect3_chef_move h6 {
  background-image: url(../img/chef-1417239_6401.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 50px;
  height: 70px;
  background-position: -296px -123px;
  top: 19.5%;
  left: 15%;
  z-index: 10;
}
.sect3_chef_move h6 {
  animation: chef1 4s linear infinite;
}

.sect3_chef_move2 h5 {
  background-image: url(../img/chef-1417239_6402.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 110px;
  height: 200px;
  background-position: -529px -100px;
  top: 10%;
  right: 7%;
  z-index: 14;
}
.sect3_chef_move2 h6 {
  background-image: url(../img/chef-1417239_6403.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 55px;
  height: 120px;
  background-position: -498px -180px;
  top: 19.5%;
  right: 13.5%;
  z-index: 10;
}
.sect3_chef_move2 h6 {
  animation: chef2 4s linear infinite;
}

@keyframes chef1 {
  0% {
    transform: rotate(10deg);
    transform-origin: 20% 100%;
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(10deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

@keyframes chef2 {
  0% {
    transform: rotate(7deg);
    transform-origin: 100% 20%;
  }

  25% {
    transform: rotate(-7deg);
  }

  50% {
    transform: rotate(7deg);
  }

  75% {
    transform: rotate(-7deg);
  }

  100% {
    transform: rotate(7deg);
  }
}
@media screen and (max-width: 1200px) {
  .sect3_btn li {
    width: 90px;
    height: 90px;
    background-size: 540%;
  }
  .sect3_btn li:nth-child(2) {
    background-position: -80px 5px;
  }
  .sect3_btn li:nth-child(3) {
    background-position: -156px 5px;
  }
  .sect3_btn li:nth-child(4) {
    background-position: -235px 5px;
  }
  .sect3_btn li:nth-child(5) {
    background-position: -320px 5px;
  }
  .sect3_btn li:nth-child(6) {
    background-position: -410px 5px;
  }
}
@media screen and (max-width: 560px) {
  /* .sect3_btn li:nth-child(1) {
    background-position: 0px;
  }
  .sect3_btn li:nth-child(2) {
    background-position: -70px 5px;
  }
  .sect3_btn li:nth-child(3) {
    background-position: -140px 5px;
  }
  .sect3_btn li:nth-child(4) {
    background-position: -210px 5px;
  }
  .sect3_btn li:nth-child(5) {
    background-position: -280px 5px;
  } */
  .sect3_txt {
    background-size: cover;
  }
  .sect3_btn li:nth-child(6) {
    background-position: -405px 5px;
  }

  .sect3_mobile2 h3,
  .sect3_mobile2 p {
    color: white;
    text-shadow: 1px 1px 5px rgb(184, 184, 184), -1px -1px 5px rgb(161, 161, 161);
  }

  .sect3_mobile4 h3 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px black, -2px -2px 4px dimgray;
  }
  .sect3_mobile4 p {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px black, -2px -2px 4px dimgray;
  }

  .sect3_mobile6 h3 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px black, -2px -2px 4px dimgray;
  }
  .sect3_mobile6 p {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px black, -2px -2px 4px dimgray;
  }

  .sect3_txt p:nth-child(1) {
    font-size: 36px;
    line-height: 50px;
  }
  .sect3_txt p:nth-child(3) {
    font-size: 16px;
  }
}
