.sect4 {
  padding-bottom: 7%;
  position: relative;
  background-color: #f7f3e9;
}
.sect4 article {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 5%;
}
/* 별모양 깃대 */

.star {
  background-image: url(../img/star3.png);
  width: 1920px;
  height: 286px;
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: auto; */
  position: absolute;
  top: 170px;
  z-index: 0;
  background-attachment: fixed;
}
/* 하트모양 풍선  */

.sect4_balloon_imgwrap img {
  width: 25px;
  animation: balloon1 10s infinite;
  position: absolute;
  z-index: 5;
  opacity: 0.1;
}
.sect4_balloon1 {
  left: 5%;
  top: 33%;
}
.sect4_balloon2 {
  left: 25%;
  top: 35%;
}
.sect4_balloon3 {
  left: 35%;
  top: 15%;
}
.sect4_balloon4 {
  left: 50%;
  top: 15%;
}
.sect4_balloon5 {
  left: 68%;
  top: 17%;
}
.sect4_balloon6 {
  left: 90%;
  top: 40%;
}
@keyframes balloon1 {
  0% {
    transform: translateY(5px);
  }
  25% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

.sect4 .box {
  width: 100%;
  cursor: pointer;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #c7a776;
  margin-bottom: 60px;
}
.sect4 .box img {
  width: 100%;
}
.sect4 .box h3 {
  margin: 20px 0;
}
.sect4 .box p {
  text-align: right;
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 560px) {
}
