.sect6 {
  background-color: #c7a776;
  position: relative;
  padding-bottom: 80px;
  margin-top: -150px;
}

.sect6_wrap {
  max-width: 1200px;
  margin: auto;
}

.sect6_slide_img {
  width: 300px;
  height: 300px;
  border: 1px solid #795620;
}
.sect6_slide_img a {
  display: block;
  width: 100%;
  height: 100%;
}
.sect6_slide_img img {
  display: block;
  width: 100%;
  height: 100%;
  border: 5px solid #f7f3e9;
}

/* .sect6_slide_img {
  position: relative;
  padding-bottom: 4%;
  background-color: #f7f3e9;
  width: 100%;
  height: 100%;
  border: 1px solid #795620;
}

.sect6_slide_img img {

  width: 90%;
  height: 90%;
  margin: 5%;
  border: 1px solid #795620;
} */

.po {
  display: block;
}

/* js로 호버하면 디스플레이 block 처리할 것 */

.sect6_slide_img p {
  display: none;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 83%,
    rgba(0, 0, 0, 0.65) 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0%;
  padding: 70% 5% 0;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -1px;
  text-align: center;
}
.sect6_slide_img:hover .sect6_slide_img p {
  display: block;
}
.sect6 .swiper-container {
  padding: 50px 0 50px;
  width: 100%;
}

.sect6 .swiper-slide {
  width: 25vw;
  height: 100%;
  opacity: 0.4;
  padding: 0;
  transform: scale(0.8);
}

.sect6 .swiper-slide-active {
  transform: scale(1.2);
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .sect6_slide_img p {
    padding: 40% 5% 0;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -1px;
    text-align: center;
  }
}
@media screen and (max-width: 560px) {
  .sect6 {
    padding: 10px;
  }

  .title2 {
    width: 100%;
    margin-left: 10px;
  }

  .title2 h6 {
    font-size: 30px !important;
  }
  .title2 h5 {
    font-size: 50px !important;
  }
  .sect6 .swiper-slide-active {
    transform: scale(1.6);
  }
  .sect6_slide_img p {
    padding: 50% 5%;
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    text-align: center;
  }
  .sect6 .swiper-slide-active {
    transform: scale(1);
    opacity: 1;
  }
}
