/* header */

header {
  width: 100%;
  height: 100px;
  background-color: #f7f3e9;
}

header .inner {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  overflow: hidden;
}
header h1 {
  background-image: url(/img/logo3.png);
  background-size: 150px;
  background-repeat: no-repeat;
  position: fixed;
  width: 150px;
  height: 500px;
  top: -100px;
  left: 100px;
  z-index: 99999;
}
header ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
header ul li a {
  text-indent: -99999px;
  display: block;
  width: 135px;
  height: 100px;
}
header .hd_nav1 {
  float: left;
}

header .hd_nav1 li:nth-child(1) a {
  background-image: url(/img/hd_menu_1.png);

  background-size: 140px;
}
header .hd_nav1 li:nth-child(2) a {
  background-image: url(/img/hd_menu_1.png);
  background-size: 140px;
}
header .hd_nav1 li:nth-child(3) a {
  background-image: url(/img/hd_menu_1.png);
  background-size: 140px;
}
header .hd_nav2 {
  float: right;
}
header .hd_nav2 li:nth-child(1) a {
  background-image: url(/img/hd_menu_1.png);
  background-size: 140px;
}
header .hd_nav2 li:nth-child(2) a {
  background-image: url(/img/hd_menu_1.png);
  background-size: 140px;
}
header .hd_nav2 li:nth-child(3) a {
  background-image: url(/img/hd_menu_1.png);
  background-size: 140px;
}

/* section1 */

.sect1 {
  background-image: url(/img/bg.gif);
  width: 100%;
  height: 600px;
}
.sect1 .inner {
  max-width: 1200px;
  height: 100%;
  margin: auto;
}
.sect1 h1 {
  background: url(/img/sect1_logo.png);
  background-size: cover;
  width: 200px;
  height: 335px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}
 .sect1 .swiper-container {
  width: 100%;
  height: 100%;
}

.sect1 .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  max-width: 100%;
  height: 100%;
}
.sect1 .swiper-slide {
  background-size: 1200px;
  background-repeat: no-repeat;
}
.sect1 .bg1 {
  background-image: url(/img/sect1_img_1.jpg);
}
.sect1 .bg2 {
  background-image: url(/img/sect1_img_2.jpg);
  background-position: 0, -10%;
}
.sect1 .bg3 {
  background-image: url(/img/sect1_img_3.jpg);
  background-position: 0, -20%;
}
.sect1 .bg4 {
  background-image: url(/img/sect1_img_4.jpg);
  background-position: 0, -20%;
}
.sect1 .bg5 {
  background-image: url(/img/sect1_img_5.jpg);
  background-position: 0, -20%;
}
