/* section8 */

.sect8 .inner {
  max-width: 1200px;
  margin: 0 auto;
}
.sect8_content {
  /* width: 100%;  bk */
  height: 75vh;
  margin-bottom: 100px;
  position: relative;
  border: 1px solid #c7a776;
}
/* .sect8_content a {
  display: block;
  text-decoration: none;
}  bk*/
.sect8_menu {
  width: 10%;
  height: 100%;
}
.sect8_menu li {
  width: 100%;
  height: 25vh;
  background-color: #f7f3e9;
  border-bottom: 1px solid #c7a776;
  text-align: center;
  font-size: 25px;
  padding: 8% 0;
  cursor: pointer;
}

.sect8_menu li.on {
  background-color: #c7a776;
}
/* .sect8_menu li a {
  width: 100%;
  height: 100%;
  
}  bk*/
.sect8_menu li.on {
  background-color: #c7a776;
  /* text-decoration: none; bk */
}
.sect8_con {
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-left: 1px solid #c7a776;
  border-right: 1px solid #c7a776;
}
.sect8_con li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.sect8_con li.on {
  display: block;
}
.sect8_txt {
  width: 50%;
  height: 100%;
  background-color: #fff;
  padding: 40px 40px 0 40px;
}
.sect8_txt p:nth-child(1) {
  padding: 7px 0 0;
  border-top: 1px solid #c9a978;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #c9a978;
}
.sect8_txt p:nth-child(2) {
  margin: 50px 0 0;
  font-weight: 300;
  font-size: 46px;
  line-height: 55px;
  color: #3e3a39;
}
.sect8_txt p:nth-child(3) {
  margin: 20px 0 0;
  font-size: 20px;
  line-height: 28px;
  color: #3e3a39;
}
.sect8_txt p:nth-child(4) {
  padding: 48px 0 0;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
}
.sect8_txt p:nth-child(4) span {
  display: block;
  width: 100px;
  height: 1px;
  border-top: 1px solid #e2e2e2;
  margin: 55px 0 40px;
}
.sect8_img {
  width: 50%;
}
.sect8_img img {
  height: 100%;
  display: block;
}

.sect8_img2 {
  width: 100%;
}
.sect8_img2 img {
  height: 100%;
  display: block;
}

.sect8_con > li:nth-child(4) {
  background: url(../img/advantage_bg1.jpg) no-repeat -400px;
  background-size: cover;
}
.sect8_con > li:nth-child(5) {
  background: url(../img/advantage_bg2.jpg) no-repeat -400px;
  background-size: cover;
}
.sect8_con > li:nth-child(6) {
  background: url(../img/advantage_bg4.jpg) no-repeat -400px;
  background-size: cover;
}
.sect8_txt2 {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 300px;
  height: 324px;
  background-color: #fff;
  padding: 20px;
}
.sect8_txt2 p:nth-child(1) {
  font-weight: 800;
  font-size: 15px;
  line-height: 24px;
  color: #c9a978;
}
.sect8_txt2 p:nth-child(2) {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: #3e3a39;
  letter-spacing: -0.05em;
  margin-top: 20px;
}
.sect8_txt2 p:nth-child(3) {
  margin: 21px 0 0;
  padding: 28px 0 0;
  font-size: 16px;
  line-height: 26px;
  color: #3e3a39;
}
.sect8_txt2 p:nth-child(3) span {
  display: block;
  width: 50px;
  height: 1px;
  border-top: 1px solid #e2e2e2;
  padding-bottom: 20px;
}
